*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: hsl(0, 0%, 7%);
  --white: hsl(0, 0%, 100%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-family: 'DM Sans';
  src: url(./assets/fonts/static/DMSans-Regular.ttf) format('truetype');
}
@font-face {
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-family: 'DM Sans';
  src: url(./assets/fonts/static/DMSans-Medium.ttf) format('truetype');
}
@font-face {
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  font-family: 'DM Sans';
  src: url(./assets/fonts/static/DMSans-MediumItalic.ttf) format('truetype');
}
body {
  font-size: 1rem;
  background-color: var(--white);
  font-family: 'DM Sans', sans-serif;
}

.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }