@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: 400 500;
  font-family: 'DM Sans';
  src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf) format('truetype');
}
@font-face {
  font-style: italic;
  font-display: swap;
  font-weight: 400 500;
  font-family: 'DM Sans';
  src: url(./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
}
*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --fs-regular: 1.125rem;
  --fs-heading: 1.125rem;
  --fs-sub-heading: 1.125rem;
  --black: hsl(0, 0%, 7%);
  --white: hsl(0, 0%, 100%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --font-family: "DM Sans", sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  color: var(--black);
  font-size: 1.125rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  background-color: hsl(0, 0%, 93%);
}
h1, h2 {
  line-height: 90%;
  font-weight: 500;
}
img {
  height: auto;
  display: block;
  max-width: 100%;
}
.grid_wrapper {
  gap: 1.5rem;
  display: grid;
  margin: 3rem auto;
  width: min(60rem, 90%);
}
article {
  gap: 0.5rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0.25rem 1rem 0 hsla(0, 0%, 100%, 0.5);
}